
{% extends '_base.html' %}

{% block content %} 
    <h1 class= "m-4" >Order List</h1>
    
    <table class="table-bordered m-4">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Product Count</th>
                <th>Is Paid</th>
                <th>Total Price</th>
                <th>Order Status</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            {% if user.is_authenticated and order.user == user %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.items.count }}</td>
                <td>{{ order.is_paid }}</td>
                <td>{{ order.get_total_price }}</td>
                <td>{{ order.get_order_status_display }}</td>
                <td><a href="{% url 'order-delete' order.id %}" class="delete-link">Delete</a></td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

