{% extends "_base.html" %}



{% block content %}

  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="{{ product.iamge.url }}" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1">{{ product.get_category}}</span>
              </a>
            </div>

            <p class="lead">
              {% comment %} {% if product.unit_price %}
              <span class="mr-1">
                <del>${{ product.unit_price }}</del>
              </span>
              <span>${{ product.unit_price }}</span>
              {% else %} {% endcomment %}
              <span>${{ product.unit_price }}</span>
              {% comment %} {% endif %} {% endcomment %}
            </p>

            <p class="lead font-weight-bold">Title</p>

            <p>{{ product.title }}</p>

            {% comment %} <form class="d-flex justify-content-left">
              <!-- Default input -->
              <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
              <button class="btn btn-primary btn-md my-0 p" type="submit">
                Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>

            </form> {% endcomment %}
            <form action="{% url 'cart_add' product.id %}" method="POST">
                {% csrf_token %}
                <div class="quantity">
                    <input type="number" class="quantity-input" name="quantity" id="qty" value="1" min="1" max='1'>
                    <button class="btn btn-primary btn-md my-0 p" type='submit'>add to cart <i class="fas fa-shopping-cart ml-1"></i></button>
                </div>
                
            </form>
            {% comment %} <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
              Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </a> {% endcomment %}
            {% comment %} <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">
              Remove from cart
            </a> {% endcomment %}

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">

          <h4 class="my-4 h4">Additional information</h4>

          <p>{{product.description}}</p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
  </main>

{% endblock content %}
{% comment %} 


<h1>NAME : {{product.title}}</h1>
<h4>PRICE : {{product.unit_price}}</h4>
<h6>description : {{product.description}}</h6>

<form action="{% url 'cart_add' product.id %}" method="POST">
    {% csrf_token %}
    <div class="quantity">
        <input type="number" class="quantity-input" name="quantity" id="qty" value="1" min="1">
    </div>
    <button type='submit'>add to cart</button>
</form>
<form action="{% url 'product-comment' product.id %}" method="POST">
    {% csrf_token %}
    {{comment}}
    <input type='submit' value='send'>
</form>

{% for comment in product.comments.all %}
<h1>{{comment.user}}</h1>
<h4>{{comment.body}}</h4>
{% if comment.user == user %}
<form action="{% url 'comment_delete' comment.id %}" method= 'POST'>
    {% csrf_token %}
    <div>
        <button type='submit' class='btn danger-color' >Delete</button>
    </div>
{% endif %}
</form>
{% endfor %}

{% endblock content %} {% endcomment %}